body{
    background-color: #f0f2f5;
}
.contain-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.article-info{
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}

.h1-title{
    font-size: 20px;
    padding: 15px;
}

.h2-title{
    padding-left: 15px;
}

.sombra{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.img-map-caminata{
    width: 100%;
    max-width: 600px;
}

.espaciado{
    margin-bottom: 30px;
}

.suspendido{
    background-color: rgb(250, 161, 161);
}

.h4-Importante{
    background-color: #212529;
    color: #fff;
    padding: 5px;

}

.h4-Importante b {
    color: #ffd43b;
}

.h4-Importante i{
    color: #ffd43b;
    background-color: #212529;
}

.disp-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fondo_color{
    background-color: rgb(166, 168, 172);
    padding-left: 10px;
}


